<div class="flex flex-col gap-4">
    <div class="p-2 text-center text-xl">
        Избери начална и крайна дата за стартиране на събитието
    </div>

    <div class="w-full flex justify-center items-center border-t border-t-slate-300 py-4 gap-4 max-h-[20rem] overflow-y-auto">
        <div class="p-2 px-8 items-center align-middle max-h-[20rem] flex flex-col gap-4">
            <div class="flex gap-2">
                <label>Начална дата: </label>
                <InputDate Type="InputDateType.Date" class="bg-slate-300 rounded-2xl px-2" @bind-Value="StartDate"></InputDate>
            </div>
            <div class="flex gap-2">
                <label>Крайна дата: </label>
                <InputDate Type="InputDateType.Date" class="bg-slate-300 rounded-2xl px-2" @bind-Value="EndDate"></InputDate>
            </div>
        </div>
    </div>

    <button type="button" class="bg-secondary w-1/2 mx-auto rounded-lg text-white p-1 text-xl mt-8 pb-2 text-center align-middle items-center" @onclick="@Confirm">
        <span>Потвърди</span>
    </button>

</div>

@code {
    [Parameter]
    public DateTime StartDate { get; set; } = DateTime.Now;
    
    [Parameter]
    public DateTime EndDate { get; set; } = DateTime.Now;
    
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = default!;

    async Task Confirm()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok(new Dates { StartDate = StartDate, EndDate = EndDate }));
    }

    public class Dates
    {
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
    }

}