@page "/confirmed-friend-requests"
@using Contracts
@using Contracts.Endpoints.DeleteFriendRequest
@using Contracts.Endpoints.GetAllFriendRequests
@using FrontEnd.Infrastructure.UtilityMethods
@inject IFriendsApiService FriendsApiService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<div class="flex w-full h-full flex-col gap-4 my-auto mx-auto items-center justify-center">
    @if (this.FriendRequests.Count == 0)
    {
        <div class="text-black mx-auto flex items-center justify-center text-4xl font-semibold">
            Нямате активни приятелства.
        </div>
    }
    else
    {
        <div class="text-black mx-auto flex items-center justify-center text-4xl font-semibold">
            Активни приятелства
        </div>
        
        <div class="flex flex-col justify-center h-fit items-center mx-auto bg-secondary p-8 gap-4 rounded-3xl">
            @foreach (var friendRequest in this.FriendRequests)
            {
                <div class="bg-primary flex gap-4 text-white font-semibold px-4 rounded-2xl py-4 items-center justify-center">
                    <span>@friendRequest.ReceiverFullName</span>
                    <span>Приятели от: @(friendRequest.AcceptedAt!.Value.ToString("g"))</span>
                    <div class="flex">
                        <button class="bg-red rounded-md px-2 py-1" @onclick='async () => await this.OnRemoveFriend(friendRequest.ReceiverId, friendRequest.SenderId)'>Премахни</button>
                    </div>
                </div>
            }

        </div>

    }
</div>

@code {
    List<GetAllFriendsRequestsResponse.FriendRequestResponseModel> FriendRequests = [];

    protected override async Task OnInitializedAsync()
    {
        var response = await this.FriendsApiService.GetAllFriendsRequests();
        if (response.IsSuccessStatusCode)
        {
            this.FriendRequests = response.Content.FriendRequests.Where(x => x.AcceptedAt.HasValue).ToList();
        }
        else
        {
            await this.JsRuntime.ToastError("Неуспешно зареждане на приятелства.");
            this.NavigationManager.NavigateTo("/friend-requests");
        }
    }
    
    async Task OnRemoveFriend(Guid receiverId, Guid senderId)
    {
        var response = await this.FriendsApiService.DeleteAFriendRequest(
            new DeleteFriendRequest
            {
                SenderId = senderId,
                ReceiverId = receiverId
            });

        if (response.IsSuccessStatusCode)
        {
            await this.JsRuntime.ToastSuccess("Приятеля е премахнат успешно.");
        }
        else
        {
            await this.JsRuntime.ToastError("Неуспешно премахване на приятел.");
        }

        this.NavigationManager.NavigateTo("/friend-requests"); 
    }
}