@page "/chat"
@using FrontEnd.Infrastructure.Authentication
@using Contracts
@using Contracts.Endpoints.GetChatMessages
@using Contracts.Endpoints.GetChats
@using FrontEnd.Infrastructure.UtilityMethods
@inject IAuthService AuthService
@inject IFriendsApiService FriendsApiService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<!-- This is an example component -->
<div class="flex w-full bg-slate-300 h-full mx-auto bg-slate-300 shadow-lg rounded-lg rounded-3xl">
    <!-- end header -->
    <!-- Chatting -->
    <div class="flex bg-slate-300 max-h-[45rem] min-h-[45rem] flex-row justify-between my-auto border mx-4">
        <!-- chat list -->
        <div class="flex flex-col w-2/5 overflow-y-auto border-r">
            <!-- user list -->
            @foreach (var user in this.Chats)
            {
                <div class="flex flex-row py-4 px-2 justify-center items-center border-b">
                    <div class="w-1/4">
                        <img
                            src="@user.ProfilePictureUrl"
                            class="object-cover h-12 w-12 rounded-full border"
                            alt=""/>
                    </div>
                    <div class="w-full flex flex-col">
                        <div class="text-lg font-semibold">@user.FullName</div>

                        @if (string.IsNullOrWhiteSpace(user.LastMessageContent) && user.LastMessageDate is null)
                        {
                            <span class="text-gray-500">Няма съобщения. Започни разговор</span>
                        }
                        else if (!string.IsNullOrWhiteSpace(user.LastMessageContent) && user.LastMessageDate.HasValue)
                        {
                            <span class="text-gray-500">@user.LastMessageContent (@user.LastMessageDate!.Value.ToString("g"))</span>
                        }
                    </div>
                </div>

            }
            <!-- end user list -->
        </div>
        <!-- end chat list -->

        <!-- message -->
        <div class="w-full max-h-fit overflow-y-auto px-5 flex flex-col justify-between">

            <div class="flex flex-col mt-5 gap-4">
                <div class="flex gap-1">
                    <div
                        class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white justify-end ml-auto my-auto">
                        Welcome to group everyone !
                    </div>
                    <img
                        src="https://source.unsplash.com/vpOeXr5wmR4/600x600"
                        class="object-cover h-8 w-8 rounded-full my-auto"
                        alt=""/>
                </div>
                <div class="flex gap-1">
                    <img
                        src="https://source.unsplash.com/vpOeXr5wmR4/600x600"
                        class="object-cover h-8 w-8 rounded-full my-auto"
                        alt=""/>
                    <div
                        class="bg-white ml-2 py-3 px-4 text-black rounded-br-3xl rounded-tr-3xl rounded-tl-xl justify-end ml-auto my-auto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
                        at praesentium, aut ullam delectus odio error sit rem. Architecto
                        nulla doloribus laborum illo rem enim dolor odio saepe,
                        consequatur quas?
                    </div>

                </div>

            </div>

            <div class="py-5 flex gap-2">
                <input
                    class="w-full bg-gray-300 py-5 px-3 rounded-xl border"
                    type="text"
                    placeholder="Напиши нещо..."/>

                <button class="bg-primary rounded-xl text-white px-2 my-auto py-2">Send</button>
            </div>

        </div>

    </div>
</div>

@code {
    Guid UserId;
    Guid? FriendId;
    List<GetChatsResponse.ChatModel> Chats;
    List<GetChatMessagesResponse.ChatMessage> Messages;

    protected override async Task OnInitializedAsync()
    {
        var authDetails = await AuthService.GetAuthStateDetails();
        this.UserId = Guid.Parse(authDetails.UserId);

        await GetChats();
    }

    async Task GetChats()
    {
        var chats = await FriendsApiService.GetAllChats();

        if (chats.IsSuccessStatusCode)
        {
            Chats = chats.Content.Chats;

            if (FriendId.HasValue is false && Chats.Any())
            {
                FriendId = Chats.First().FriendId;
            }

            return;
        }

        this.NavigationManager.NavigateTo("/friend-requests");
        await this.JsRuntime.ToastError("Грешка при зареждане на чатовете!");
    }

    async Task GetMessages()
    {
        if (FriendId.HasValue is false)
        {
            this.Messages = [];
            return;
        }

        var messages = await FriendsApiService.GetChatMessages(
            new GetChatMessagesRequest
            {
                FriendId = this.FriendId.Value
            });

        this.Messages = messages.IsSuccessStatusCode ? messages.Content.Messages : [];
    }
}