@page "/confirmed-friend-requests"

<div class="flex w-full h-full flex-col gap-4 my-auto mx-auto items-center justify-center">
    <div class="text-black mx-auto flex items-center justify-center text-4xl font-semibold">
        Активни приятелства
    </div>

    <div class="flex flex-col justify-center h-fit items-center mx-auto bg-secondary p-8 gap-4 rounded-3xl">
        <div class="bg-primary flex gap-4 text-white font-semibold px-4 rounded-2xl py-4 items-center justify-center">
            <span>Синан Абдулгафуров</span>
            <span>Приятели от: 23.06.1230 12:31</span>
            <div class="flex">
                <button class="bg-red rounded-md px-2 py-1">Премахни</button>
            </div>
        </div>
        <div class="bg-primary flex gap-4 text-white font-semibold px-4 rounded-2xl py-4 items-center justify-center">
            <span>Синан Абдулгафуров</span>
            <span>Приятели от: 23.06.1230 12:31</span>
            <div class="flex">
                <button class="bg-red rounded-md px-2 py-1">Премахни</button>
            </div>
        </div>
        <div class="bg-primary flex gap-4 text-white font-semibold px-4 rounded-2xl py-4 items-center justify-center">
            <span>Синан Абдулгафуров</span>
            <span>Приятели от: 23.06.1230 12:31</span>
            <div class="flex">
                <button class="bg-red rounded-md px-2 py-1">Премахни</button>
            </div>
        </div>
    </div>
</div>
@code {

}