@page "/details/{id:guid}"

<section class="flex w-full h-full bg-[#B9C1C8]">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-4">
        <div class="grid grid-cols-1 lg:grid-cols-2 flex gap-8">
            <div class="slider-box w-full h-full max-lg:mx-auto mx-0">
                <div class="swiper main-slide-carousel swiper-container relative mb-6 rounded-lg">
                    <img class="rounded-2xl border border-4 border-primary" src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcSHcaIGtAL8YQy1NEqScVdwj0ILcyFwC1mQqT6_v3Q_q_XGO-W3xVj92r-BbcEhDSoM8f3a3mfik4zEjdc" alt="Summer Travel Bag image">
                </div>
            </div>
            <div class="flex flex-col items-center bg-white rounded-lg">
                <span class="text-3xl text-white px-10 rounded-lg py-1 mt-4 font-semibold bg-secondary">Ludogorie Hackathon 2022</span>

                <span class="text-black rounded-lg py-1 mt-2 font-semibold">Предназначено за хора с интереси: </span>
                <span class="text-lg text-white px-10 rounded-lg py-1 font-semibold bg-primary">Изкуства, Спорт, Образование</span>

                <span class="text-sm text-white px-4 py-2 rounded-lg mt-4 font-semibold bg-secondary mx-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at metus ut urna cursus convallis. Integer in nunc dui. Etiam nunc orci, aliquam vel aliquam sit amet, interdum at metus. Fusce a risus ac nulla hendrerit dictum. Pellentesque velit massa, congue sed tempor at, tincidunt sit amet sapien. Cras molestie dolor euismod commodo tincidunt. Vestibulum ac nisl ac arcu pellentesque auctor.</span>

                <div class="flex gap-2 mt-4">
                    <span class="text-sm text-white rounded-lg py-1 px-2 font-semibold bg-primary">Разград, Лозница</span>
                    <span class="text-sm text-white rounded-lg py-1 px-2 font-semibold bg-primary">ул. Найден Кючуков бл. 2 вх А</span>
                </div>

                <span class="text-lg text-white px-10 rounded-lg py-1 font-semibold bg-primary text-white mt-2">Стартира в @(DateTime.Now.ToString("g"))</span>
                <span class="text-lg text-white px-10 rounded-lg py-1 font-semibold bg-green-500 text-white mt-2">Запиши се</span>
            </div>
        </div>
        <div class="mt-8 flex gap-2 flex-col bg-white rounded-md h-fit p-4 text-white mb-4 w-fit mx-auto px-16">
            <span class="text-black text-center">Записани участници:</span>

            <div class="bg-secondary px-4 py-4 rounded-md w-fit flex flex-col gap-4">
                <div class="flex gap-4">
                    <span>Синан Абдулгафуров</span>
                    <span class="ml-auto">
                        <img class="cursor-pointer" src="images/add-friend.png" alt="Add Friend"/>
                    </span>
                </div>

                <div class="flex w-full gap-2">
                    <span>Хобита:</span>
                    <span class="bg-primary rounded-md px-2">Кучета, КоткиКучета, КоткиКучета, Котки</span>
                </div>
                <div class="flex w-full gap-2">
                    <span>Търси:</span>
                    <span class="bg-primary rounded-md px-2">Кучета, КоткиКучета, КоткиКучета, Котки</span>
                </div>
            </div>
            <div class="bg-secondary px-4 py-4 rounded-md w-fit flex flex-col gap-4">
                <div class="flex gap-4">
                    <span>Синан Абдулгафуров</span>
                    <span class="ml-auto">
                        <img class="cursor-pointer" src="images/add-friend.png" alt="Add Friend"/>
                    </span>
                </div>

                <div class="flex w-full gap-2">
                    <span>Хобита:</span>
                    <span class="bg-primary rounded-md px-2">Кучета, КоткиКучета, КоткиКучета, Котки</span>
                </div>
                <div class="flex w-full gap-2">
                    <span>Търси:</span>
                    <span class="bg-primary rounded-md px-2">Кучета, КоткиКучета, КоткиКучета, Котки</span>
                </div>
            </div>
            <div class="bg-secondary px-4 py-4 rounded-md w-fit flex flex-col gap-4">
                <div class="flex gap-4">
                    <span>Синан Абдулгафуров</span>
                    <span class="ml-auto">
                        <img class="cursor-pointer" src="images/add-friend.png" alt="Add Friend"/>
                    </span>
                </div>

                <div class="flex w-full gap-2">
                    <span>Работа:</span>
                    <span class="bg-primary rounded-md px-2">Кучета, КоткиКучета, КоткиКучета, Котки</span>
                </div>
                <div class="flex w-full gap-2">
                    <span>Хобита:</span>
                    <span class="bg-primary rounded-md px-2">Кучета, КоткиКучета, КоткиКучета, Котки</span>
                </div>
                <div class="flex w-full gap-2">
                    <span>Търси:</span>
                    <span class="bg-primary rounded-md px-2">Кучета, КоткиКучета, КоткиКучета, Котки</span>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

    [Parameter]
    public Guid Id { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine(Id);
    }
}