<footer class="bg-slate-200 p-4 border-t-black border-t">
    <div>
        <a class="text-primary font-semibold" href="#">English</a>
        <a class="text-primary font-semibold" href="#">Privacy</a>
        <a class="text-primary font-semibold" href="#">Terms</a>
        <a class="text-primary font-semibold" href="#">How it works</a>
        <a class="text-primary font-semibold" href="#">For business</a>
        <a class="text-primary font-semibold" href="#">How search works</a>
    </div>
</footer>