<footer class="bg-blacklist-gray p-4 border-t-black border-t">
    <div>
        <a class="text-gray" href="#">English</a>
        <a class="text-gray" href="#">Privacy</a>
        <a class="text-gray" href="#">Terms</a>
        <a class="text-gray" href="#">How it works</a>
        <a class="text-gray" href="#">For business</a>
        <a class="text-gray" href="#">How search works</a>
    </div>
</footer>