<div class="flex items-center justify-center gap-6">
    <div class="cursor-pointer bg-primary rounded-full" @onclick="ToggleDropdown">
        <div class="flex justify-center items-center p-4">
            <img class="h-6" src="./icons/menuIcon.png" alt="Dots"/>
        </div>
    </div>
</div>

@code {
    [EditorRequired, Parameter]
    public EventCallback ToggleDropdown { get; set; }
}