@inherits LayoutComponentBase

<Header ToggleDropdown="ToggleDropdown"></Header>

<main class="w-full h-full flex flex-1 relative">
    <SideBar></SideBar>
    <div class="flex h-full w-full">
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="ex">
                An error occurred: @ex.Message
            </ErrorContent>
        </ErrorBoundary>
    </div>

    <DropdownList DropdownVisibilityClass="@DropdownVisibilityClass"></DropdownList>
</main>
<Footer></Footer>

@code {
    string DropdownVisibilityClass { get; set; } = "hidden";

    void ToggleDropdown() => DropdownVisibilityClass = DropdownVisibilityClass == "hidden" ? "block" : "hidden";
}