@inherits LayoutComponentBase

<Header></Header>

<main class="w-full h-fit flex flex-1 relative">
    <SideBar></SideBar>
    <div class="flex h-full w-full">
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="ex">
                An error occurred: @ex.Message
            </ErrorContent>
        </ErrorBoundary>
    </div>
</main>
<Footer></Footer>

@code {
}